footer.footer
	.footer__container.container 
		.footer__content 
			a.footer__logo.logo(href=`${sitePath}`)
				svg.logo__icon
					use(xlink:href=`${sitePath}img/logo.svg#logo`) 
			.footer__contacts
				ul.footer__phones
					li.footer__phone
						a(href="tel:+74966673070") +7 (496) 667-30-70
						span Секретариат
					li.footer__phone
						a(href="tel:+74966673072") +7 (496) 667-30-72
						span Заказ экскурсий
					li.footer__phone
						a(href="tel:+74966674191") +7 (496) 667-41-91
						span Дом А. С. Голубкиной
				ul.footer__socials
					li.footer__social
						a(href="#") 
							svg
								use(xlink:href=`${sitePath}img/icons/icon-tg.svg#icon-tg`) 
					li.footer__social
						a(href="#") 
							svg
								use(xlink:href=`${sitePath}img/icons/icon-vk.svg#icon-vk`) 
					li.footer__social
						a(href="#") 
							svg
								use(xlink:href=`${sitePath}img/icons/icon-ok.svg#icon-ok`) 
					li.footer__social
						a(href="#") 
							svg 
								use(xlink:href=`${sitePath}img/icons/icon-youtube.svg#icon-youtube`) 
			.footer__copy
				p © 2024 «Зарайский кремль». Все права защищены. Информация на страницах сайта не является публичной офертой.<br>Политика конфиденциальности. Регламент предоставления государственной услуги.
